# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env

# Node.js (Frontend)
node_modules/
dist/
build/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# 기타
*.swp
